@import "tailwindcss";

@theme {
  /* Changing the default fontFamily to Poppins */
  --font-sans: "Poppins", sans-serif;

  /* --color-primary: #ed6842; */

  /* --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  } */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* largura fina */
  height: 6px; /* para horizontal */
  scrollbar-gutter: stable !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* fundo */
  scrollbar-gutter: stable !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ff0080; /* rosa Tailwind (pink-500) */
  border-radius: 9999px; /* arredondada */
  scrollbar-gutter: stable !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7928ca; /* pink-600 no hover */
  scrollbar-gutter: stable !important;
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ff0080 transparent;
  scrollbar-gutter: stable !important;
}
.swiper-slide {
  max-width: fit-content;
}
